*{
   margin:0;
   padding:0;
   font-family:'Courier New', Courier, monospace;
}


body{
   background-color: #c9c8c8;
   font-family: 'Courier New', Courier, monospace;
   margin:0;
   padding:0;

}

.heading{
   text-align: center;
   padding-top: 20px;
   display: flex;
   max-width: 800px;
   margin:auto;
   margin-bottom: 20px;
}
h1{
   margin: auto;
   font-size: 60px;
   font-weight: bold;
   text-align: center;
}

h2{
   font-size: 30px;
   font-weight: bold;
   text-align: center;
   color:rgb(0, 0, 0);
   padding: 2%;
}

.container{
   margin-top:2%;
   max-width: 900px;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin:auto;
   padding: 30px;
}

.item{
   flex:1;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   width: 100%;
   height: 100%;
   margin-bottom: 4%;
   border-radius: 10px;
   background-color: #ffffff;
}
.item-header{
   text-align: end;
   background-color: #969696;
   height: 20%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
.item-content p{
   padding: 2%;
}
.source p{
   padding-left:2%;
   padding-bottom:2%;
}
.source p a{
   color:rgb(0, 0, 0);
   font-weight: bold;
   text-decoration: none;
}
